EXPO_PUBLIC_SUPABASE_URL=https://jbzypqaimerrptxhovzq.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_hQ2QoIaF4eL9JlX_49NzHQ_hobaAnLi
EXPO_PUBLIC_FINZONI_API_URL=https://fin-zoni.vercel.app

